{% load static %}

<!DOCTYPE html>
<html>
{% include 'credentials/head.html' %}
<body id="page-top" data-spy="scroll" data-target=".navbar">
<div id="main-wrapper">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<!-- Page Preloader -->
<div id="preloader">
    <div id="status">
        {% for object in object_list %}
        <div class="status-mes"></div>
        {% endfor %}
    </div>
</div>

<div class="columns-block">
<div class="left-col-block blocks">
    <header class="header">
        <div class="content text-center">
            {% for object in object_list %}
            <h1>Hi, I'm {{ object.get_fullname }}!</h1>
            <p class="lead">{{ object.title }}</p>
            {% endfor %}
            <ul class="social-icon">
                {% for social in socials %}
                <li><a href="{{ social.social_link }}"><i class="{{ social.social_icon }}" aria-hidden="true"></i></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="profile-img"><img src="{% static 'img/Everwell.jpg' %}"></div>
    </header>
    <!-- .header-->
</div>


<div class="right-col-block blocks">
<section class="intro section-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Who is Arnold Patten?</h2>
                </div>
            </div>
            <div class="col-md-12">
                {{ description.description| linebreaksbr }}
            </div>
        </div>
    </div>
</section>

<section class="section-wrapper skills-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">
                    {% for item in skills %}
                    <div class="progress-item">
                        <span class="progress-title">{{ item.skill }}</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ item.percentage }}" aria-valuemin="0"
                                 aria-valuemax="100" style="width: {{ item.percentage }}%"><span class="progress-percent"> {{ item.percentage }}%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    {% endfor %}
                    <!-- .skill-progress -->
                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                {% for item in education %}
                <div class="content-item">
                    <small>{{ item.date }}</small>
                    <h3>{{ item.education }}</h3>
                    <h4>{{ item.institute }}</h4>

                    <p>{{ item.location }}</p>
                </div>
                {% endfor %}
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                {% for item in interest %}
                <div class="content-item">
                    <h3>{{ item.interest }}</h3>

                    <p>{{ item.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in project %}
            <div class="col-md-12">
                <a class="portfolio-item" href="{{ item.link }}">
                    {% if item.image %}
                        <div class="portfolio-thumb">
                            <img src="{{ item.image.url }}" alt="">
                        </div>
                    {% endif %}

                    <div class="portfolio-info">
                        <h3>{{ item.title }}</h3>
                    </div>
                    <!-- portfolio-info -->
                </a>
                {% endfor %}
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="../../static/img/portfolio-2.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Customer focused</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="../../static/img/portfolio-3.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Management methodology</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="../../static/img/portfolio-4.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Market research</h3>
                        <small>domain.com</small>
                    </div>
                    <!-- portfolio-info -->
                </a>
                <!-- .portfolio-item -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- .portfolio -->

<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                {% for object in object_list %}
                <address>
                    <strong>Address</strong><br>
                    {{ object.address }}
                </address>
                <address>
                    <strong>Phone Number</strong><br>
                    <a href="tel://8564667020">{{ object.number }}</a>
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:apatten001@yahoo.com">{{ object.email }}</a>
                </address>
                {% endfor %}
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="feedback-form">
                    <h2>Get in touch</h2>
                    <div class="form-group">
                        {% include 'recruiters/contact-form.html' %}

                    </div>
                </div>
                <!-- .feedback-form -->


            </div>
        </div>
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">
    <div class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy-text"> 2018 Online CV. All rights reserved | Design By: <a
                            href="https://themehippo.com">ThemeHippo</a></div>
                </div>
            </div>
            <!--.row-->
        </div>
        <!-- .container-fluid -->
    </div>
    <!-- .copyright-section -->
</footer>
<!-- .footer -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->

<!-- jquery -->
<script src="{% static 'js/jquery-2.1.4.min.js'%}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>